*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: cursive;
    color: #fff;
}
body{
    background:url("./img/tesla\ car.jpg") no-repeat center / cover ;
    background-attachment: fixed;
    min-height: 100vh;
display: flex;
flex-direction: column;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a{
    text-align: center;
    text-transform:uppercase ;
    font-size: 50px;
    font-weight: 900;
    padding: 20px;
}

.window{
    flex: 1;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links,
.cars{
width: 20%;
display: flex;
flex-direction: column;
}

.links a,
.cars a{
padding: 10px;
font-size: 35px;

}

.links a:hover,
.cars a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 94, 0);
}

img{
    flex: 1;
    height: 60vh;
}








